<div>
	{% if site.google_analytics_id %}
	<script>
	if (window.location.hostname != "localhost") {
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ site.google_analytics_id}}', 'auto');
		ga('send', 'pageview');
	}
	</script>
	{% endif %}

	{% if site.facebook_app_id %}
	<script>
	if (window.location.hostname != "localhost") {
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '{{ site.facebook_app_id }}',
				xfbml      : true,
				version    : 'v2.5'
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	}
	</script>
	{% endif %}
</div>
