---
title: Kotlin Korea Blog
layout: default
description: Kotlin Korea Blog 입니다.
---

<!-- Main -->
	<div id="main">
		<div id="content" class="container">
			{% for post in site.posts offset: 0 limit: 4 %}
			<div class="row">
				<section class="8u -2u">
					<!-- {% if post.featured %} -->
					<a href="{{ site.prefix }}{{ post.url }}" class="image full">
						<img src="/assets/{{ post.featured }}" alt="">
					</a>
					<!-- {% endif %} -->
					<header>
						<h2>{{ post.title }}</h2>
					</header>
					{{ post.excerpt }}
					<a href="{{ site.prefix }}{{ post.url }}" class="button button-style1">Read More</a>
				</section>
			</div>
			{% endfor %}
		</div>
	</div>
